@import "../../../components/GlobalStyles/mixin.scss";
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 30px 0;
  width: 100%;
  font-family: "Roboto-R", sans-serif;
  font-size: 14px;
  .item-service {
    text-align: center;
    max-width: 250px;
    img {
      height: 60px;
      width: 60px;
    }
    .content {
      h1 {
        font-size: 26px;
        padding-top: 15px;
        font-family: "Roboto-B", sans-serif;
      }
      h2 {
        font-size: 20px;
        padding: 5px 0;
      }

      .desktop {
        display: block;
      }
      .moible {
        display: none;
      }
    }
  }
}
@include respond(tab-port) {
  .wrapper {
    .item-service {
      text-align: center;
      max-width: 250px;
      img {
        width: 40px;
        height: 40px;
      }
      .content {
        h1 {
          padding-top: 10px;
          font-size: 14px;
        }
        h2 {
          font-size: 14px;
        }
        p {
          font-size: 9px;
          padding: 0px 5px;
        }
        .desktop {
          display: none;
        }
        .moible {
          display: block;
          max-width: 150px;
        }
      }
    }
  }
}
@include respond(phone) {
  .wrapper {
    padding: 15px 0;
    .item-service {
      img {
        width: 25px;
        height: 25px;
      }
      .content {
        h1 {
          padding-top: 5px;
          font-size: 12px;
        }
        h2 {
          font-size: 10px;
        }
        p {
          font-size: 6px;
          padding: 0px 5px;
        }
        .desktop {
          display: none;
        }
        .moible {
          display: block;
        }
      }
    }
  }
}
